<footer role="contentinfo" id="footer">
    <div class="footer">
        <div class="container">
            <div class="level">
                <div class="level-left">
                    <div class="level-item">
                        <div>
                            <p><strong>{% now "Y" %}&nbsp;<span class="copyleft">&copy;</span>&nbsp;NechciStadionNaDluh.cz</strong></p>
                            <p class="is-size-7"><a href="mailto:{{ siteinfo.email }}" class="has-margin-r-3"><i class="fas fa-at"></i>&nbsp;{{ siteinfo.email }}</a> <a href="tel:{{ siteinfo.phone }}"><i class="fas fa-phone"></i>&nbsp;{{ siteinfo.phone }}</a></p>
                            <p class="is-size-7">Zdrojový kód je licencován pod <a href="https://www.gnu.org/licenses/agpl-3.0.html" target="_blank" rel="noopener">AGPL-3.0</a> a je dostupný na <a href="https://github.com/xaralis/nechcistadionnadluh.cz" target="_blank" rel="noopener">GitHubu</a>.</p>
                        </div>
                    </div>
                </div>
                <div class="level-right">
                    <div class="level-item">
                        <a href="{{ siteinfo.facebook_url }}" target="_blank" rel="noopener" title="Facebooková stránka"><i class="fab fa-facebook-square is-size-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
