{% load static %}

<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a href="/" class="navbar-item">
                <img src="{% static "img/brand/logo-rect.svg" %}" alt="NechciStadionNaDluh.cz" height="50" />
                <strong class="has-margin-l-4">Nechci stadion na dluh!</strong>
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbar" class="navbar-menu">
            <div class="navbar-end">
                {% url "home" as home_url %}
                {% url "sign" as sign_url %}
                <a class="navbar-item {% if request.get_full_path == home_url %}is-active{% endif %}" href="{{ home_url }}">
                    Úvod
                </a>
                <a class="navbar-item {% if request.get_full_path == sign_url %}is-active{% endif %}" href="{{ sign_url }}">
                    Připojit podpis
                </a>
                <a class="navbar-item" href="{{ siteinfo.facebook_url }}" target="_blank" rel="noopener">
                    Facebook
                </a>
            </div>
        </div>
    </div>
</nav>
