@import url(https://fonts.googleapis.com/css?family=Asap+Condensed:500|Poppins:400,600&display=swap&subset=latin-ext);

@import "~bulma/sass/utilities/initial-variables";

$family-primary: "Poppins", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$family-secondary: "Poppins", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$family-monospace: "Inconsolata", "Consolas", "Monaco", monospace;

// https://coolors.co/529643-f0a202-3891a6-ed3b38-1a2026
$text: #1A2026;
$text-strong: #1A2026;
$green: #529643;
$red: #ED3B38;
$yellow: #F0A202;
$blue: #3891A6;
$link: $green;
$link-hover: $green;
$grey: #666c74;
$grey-dark: #3a424d;
$grey-darker: #0f1926;
$grey-light: lighten($grey, 10%);
$grey-lighter: hsl(0, 0%, 90%);
$grey-lightest: hsl(0, 0%, 96%);
$progress-border-radius: $radius;
$progress-bar-background-color: $grey-lightest;
$navbar-item-active-color: $green;
$navbar-background-color: $grey-lightest;
$footer-background-color: $grey-lightest;
// $modal-background-background-color: transparentize($grey-lightest, .4);
$button-active-border-color: transparent;
$button-focus-border-color: none;
$button-focus-box-shadow-size: 0;

$title-family: $family-secondary;

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';


@import "~bulma/bulma";

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import "./components/page";
@import "./components/section-headline";
@import "./components/vote-progress";

@import "./helpers/border-radius";
@import "./helpers/smoothscroll";
@import "./helpers/spacing";

@import "./views/home";
@import "./views/sign";


.has-text-green {
    color: $green;
}

.has-background-green {
    background-color: $green;
}

.is-in-green {
    color: $white;
    background-color: $green;
    padding: .5rem;
    border-radius: $radius;
    // padding-left: .5rem;
    // padding-right: .5rem;
    display: inline-block;
}
