@import url(https://fonts.googleapis.com/css?family=Asap+Condensed:500|Poppins:400,600&display=swap&subset=latin-ext);

@import "~bulma/sass/utilities/initial-variables";

$family-primary: "Poppins", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$family-secondary: "Asap Condensed", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$family-monospace: "Inconsolata", "Consolas", "Monaco", monospace;

$text: #0f1926;
$green: #008e24;
$red: #d23440;
$link: $green;
$link-hover: $green;
$grey: #666c74;
$grey-dark: #3a424d;
$grey-darker: #0f1926;
$grey-light: lighten($grey, 10%);
$grey-lighter: lighten($grey, 20%);
$grey-lightest: lighten($grey, 30%);

$title-family: $family-secondary;

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';


@import "~bulma/bulma";

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/regular";

@import "./helpers/border-radius";
@import "./helpers/smoothscroll";
@import "./helpers/spacing";

@import "./views/home";


.has-text-green {
    color: $green;
}

.has-background-green {
    background-color: $green;
}

.is-in-green {
    color: $white;
    background-color: $green;
    padding-left: .5rem;
    padding-right: .5rem;
    display: inline-block;
}
