.section.view-home-section {
    margin-top: 3rem;
    margin-bottom: 3rem;

    @include from($tablet) {
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
}

.title.view-home-section-headline {
    text-align: center;
    margin-bottom: 3rem;
}

.view-home-document-link {
    display: block;

    figure, img {
        max-height: 14rem;
    }

    figcaption {
        font-weight: bold;
    }
}

.view-home-committee-member {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-name {
        margin-top: .5rem;
        text-align: center;

        h3 {
            font-weight: bold;
        }

        p {
            font-size: $size-7;
        }
    }

    @include from($tablet) {
        flex-direction: row;

        &-name {
            text-align: left;
            margin-top: 0;
            margin-left: .5rem;
        }
    }
}

.view-home-supporter-logo {
    img, svg {
        max-height: 60px;
    }
}


.view-home-hero {
    @include from($tablet) {
        display: flex;
        align-items: center;
        justify-content: center;
        background: repeating-linear-gradient(
            -45deg,
            transparentize($green, .7),
            transparentize($green, .7) 30px,
            transparent 30px,
            transparent 55px
        );
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        min-height: 100vh;
    }
}

.view-home-hero-body {
    padding: 3rem 1rem 0;

    @include from($tablet) {
        background-color: $white;
        display: inline-block;
        padding: 3rem;
    }

    @include from($desktop) {
        border-radius: 3rem;
    }
}

.view-home-brand-wrapper {
    margin-bottom: 2rem;
}

.view-home-brand {
    width: 100%;

    @include from($tablet) {
        width: auto;
        height: 180px;
    }
}

.subtitle .view-home-brand-emphasize {
    font-weight: bold;
    color: $green;
    border-bottom: 2px $green solid;
}
