.section.view-home-section {
    margin-top: 3rem;
    margin-bottom: 3rem;

    @include from($tablet) {
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
}

.title.view-home-section-headline {
    text-align: center;
    margin-bottom: 3rem;
}

.view-home-document-link {
    display: block;

    figure, img {
        max-height: 14rem;
    }

    figcaption {
        font-weight: bold;
    }
}

.view-home-committee-member {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-name {
        margin-top: .5rem;
        text-align: center;

        h3 {
            font-weight: bold;
        }

        p {
            font-size: $size-7;
        }
    }

    @include from($tablet) {
        flex-direction: row;

        &-name {
            text-align: left;
            margin-top: 0;
            margin-left: .5rem;
        }
    }
}

.view-home-supporter-logo {
    img, svg {
        max-height: 60px;
    }

    margin-bottom: 1rem;

    @include from($tablet) {
        margin-bottom: 0;
    }
}


.view-home-hero {
    position: relative;

    @include from($tablet) {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    }

    @include from($desktop) {
        background: repeating-linear-gradient(
            -45deg,
            transparentize($green, .6),
            transparentize($green, .6) 30px,
            transparentize($green, .8) 30px,
            transparentize($green, .8) 55px
        );
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
}

.view-home-hero-body {
    padding: 3rem 2rem 0;

    @include from($desktop) {
        border: 2px $green solid;
        background-color: $white;
        display: inline-block;
        padding: 5rem;
        border-radius: 3rem;
    }
}

.view-home-brand-wrapper {
    margin-bottom: 2rem;
}

.view-home-brand {
    width: 100%;

    @include from($tablet) {
        width: auto;
        height: 180px;
    }
}

.view-home-hero-scroll-notif {
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    bottom: 0;
    width: 5rem;
    height: 5rem;
    left: 50%;
    margin-left: -50px;
    background: $green;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;

    .fas {
        color: $white;
        font-size: 3rem;
        margin-bottom: 1rem;
        opacity: .8;
        transition: .2s ease-in-out;

        &:hover {
            opacity: 1;
        }
    }
}

.subtitle .view-home-brand-emphasize {
    font-weight: bold;
    color: $green;
    border-bottom: 2px $green solid;
}
