{% extends "base.html" %}
{% load static %}

{% block navbar %}{% endblock %}

{% block page_title_full %}Nechci stadion na dluh!{% endblock %}
{% block html_class %}view-home-html-overflow{% endblock %}
{% block body_class %}view-home-parallax-wrapper{% endblock %}
{% block main_class %}view-home-parallax-wrapper-preserve{% endblock %}

{% block content %}
<section class="view-home-hero">
    <div class="view-home-hero-body">
        <div class="has-text-centered">
            <div class="view-home-brand-wrapper">
                <img class="view-home-brand" src="{% static "img/brand/logo-colorful.v4.svg" %}" alt="{{ siteinfo.title }}" />
            </div>
            <h1 class="view-home-hero-headline">Referendum o stavbě fotbalového stadionu <a data-scroll href="#otazka-proc-referendum" class="view-home-brand-emphasize">v centru Pardubic za peníze města</a></h1>
        </div>
    </div>
    <div class="view-home-hero-scroll-notif">
        <a data-scroll href="#otazka-proc-referendum"><i class="fas fa-arrow-circle-down"></i></a>
    </div>
</section>
<section class="section view-home-section view-home-section-why" id="otazka-proc-referendum">
    <div class="container">
        <h1 class="why-superheadline">Proč referendum?</h1>
        <div class="why-content">
            <h2 class="why-headline"><span class="why-headline-bullet">1</span><span>Za stavbu fotbalového stadionu mají Pardubice z vlastního rozpočtu <strong>zaplatit stovky milionů</strong>&mdash;15x více než za novou třídu Míru, 20x více než za rekonstrukci Tyršových sadů. Šance získat dotaci je minimální.</span></h2>
            <h2 class="why-headline"><span class="why-headline-bullet">2</span><span>Vedení města chce stavět, ale <strong>nemá peníze</strong>. Proto se plánuje zadlužit a <strong>vzít si obří úvěr</strong>&mdash;až půl miliardy korun.</span></h2>
            <h2 class="why-headline"><span class="why-headline-bullet">3</span><span>Projekt schválila jen těsná většina zastupitelů. Splácet ho ale budeme <strong>až dvacet let</strong>&mdash;ještě dlouho poté, co opustí své funkce.</span></h2>
            <h2 class="why-headline"><span>K něčemu tak zásadnímu se <strong>mají vyjádřit všichni občané Pardubic</strong>. Pokud společně seženeme 7 000 podpisů, vyvoláme pro město závazné referendum v otázce:</h2>
        </div>
    </div>
    <div class="container">
        <h2 class="why-question">„Souhlasíte se stavbou fotbalového stadionu v centru města mezi ulicemi Labská a U Stadionu, za kterou město plánuje zaplatit více než 400 milionů Kč?“</h2>
    </div>
    <div class="container">
        <div class="has-text-centered has-margin-t-5 has-margin-b-5">
            <a href="#sbirame-podpisy" class="button is-medium is-white">Chci se připojit</a>
        </div>
        {% comment %} <div class="why-more">
            <a href="{% url "faq" %}" class="why-more-link">Více informací</a>
        </div> {% endcomment %}
    </div>
</section>
<section class="section view-home-section" id="sbirame-podpisy">
    <h2 class="section-headline has-text-centered">Sbíráme 7 tisíc podpisů</h2>

    <div class="container">
        <div class="tile is-ancestor">
            <div class="tile is-parent is-7 vertical">
                <div class="tile is-child">
                    {% if siteinfo.google_maps_apikey %}
                        <h2 class="title is-size-5">Stálá podpisová místa</h2>
                        <div style="overflow: hidden;">
                            <iframe width="100%" height="450" frameborder="0" style="position: relative; border:0; top: -46px" src="https://www.google.com/maps/d/u/0/embed?mid=1OgqcCuCSA6OTnSiPx5WwnW22u5NNgbRW&key={{ siteinfo.google_maps_apikey }}" allowfullscreen></iframe>
                        </div>
                    {% endif %}

                    <h2 class="title is-size-5 has-margin-t-4">Kde můžete potkat petiční stánek</h2>
                    <ul>
                        <li>Stánek 1</li>
                    </ul>
                </div>
            </div>
            <div class="tile is-parent">
                <div class="tile is-child">
                    <h2 class="title is-size-5">Máme první podpisy z potřebných 7 000</h2>
                    {% include "includes/progress.html" %}
                    <div class="view-home-help-us-buttons">
                        <button class="button is-success is-medium js-share-modal-trigger main">Sdílet</button>
                        <a href="{% static "attachments/Podpisový arch A4.pdf" %}" target="_blank" class="button is-medium is-outlined">Sbírejte podpisy v okolí</a>
                    </div>

                    <div class="content is-size-6-mobile is-size-5-desktop">
                        <p>Petici za vyhlášení referenda může podepsat <strong>každý občan Pardubic</strong>, který zde může volit. Petici bohužel <strong>není možné podepsat na internetu</strong>.</p>
                        <p>Svůj podpis můžete připojit na <strong>stálých podpisových místech</strong>, u <strong>petičních stánků</strong>, nebo si arch rovnou <strong><a href="{% static "attachments/Podpisový arch A4.pdf" %}" target="_blank">sami vytiskněte</a></strong>, oslovte své okolí a pak ho doneste na stálé podpisové místo.
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>
<section class="section view-home-section">
    <div class="container">
        <h2 class="section-headline has-text-centered">Referendum podporují</h2>
        <div class="columns is-mobile is-multiline">
            <div class="column is-one-fifth-desktop is-one-quarter-tablet is-half-mobile">
                <div class="view-home-committee-member">
                    <figure class="image is-96x96">
                        <img src="https://bulma.io/images/placeholders/96x96.png" class="is-rounded">
                    </figure>
                    <div class="view-home-committee-member-name">
                        <h3>Antonín Mlejnek</h3>
                        <p>Dašická 879, Pardubice</p>
                    </div>
                </div>
            </div>
            <div class="column is-one-fifth-desktop is-one-quarter-tablet is-half-mobile">
                <div class="view-home-committee-member">
                    <figure class="image is-96x96">
                        <img src="https://bulma.io/images/placeholders/96x96.png" class="is-rounded">
                    </figure>
                    <div class="view-home-committee-member-name">
                        <h3>Jan Smeták</h3>
                        <p>Pernštýnské náměstí  1, Pardubice</p>
                    </div>
                </div>
            </div>
            <div class="column is-one-fifth-desktop is-one-quarter-tablet is-half-mobile">
                <div class="view-home-committee-member">
                    <figure class="image is-96x96">
                        <img src="https://bulma.io/images/placeholders/96x96.png" class="is-rounded">
                    </figure>
                    <div class="view-home-committee-member-name">
                        <h3>Karel Haas</h3>
                        <p>Kyjevská 429, Pardubice</p>
                    </div>
                </div>
            </div>
            <div class="column is-one-fifth-desktop is-one-quarter-tablet is-half-mobile">
                <div class="view-home-committee-member">
                    <figure class="image is-96x96">
                        <img src="https://bulma.io/images/placeholders/96x96.png" class="is-rounded">
                    </figure>
                    <div class="view-home-committee-member-name">
                        <h3>Ing. Dominik Bečka</h3>
                        <p>náměstí Čs. legií 1113, Pardubice</p>
                    </div>
                </div>
            </div>
            <div class="column is-one-fifth-desktop is-one-quarter-tablet is-half-mobile">
                <div class="view-home-committee-member">
                    <figure class="image is-96x96">
                        <img src="https://bulma.io/images/placeholders/96x96.png" class="is-rounded">
                    </figure>
                    <div class="view-home-committee-member-name">
                        <h3>Vojtěch Dobeš</h3>
                        <p>Gorkého 2222, Pardubice</p>
                    </div>
                </div>
            </div>
            <div class="column is-one-fifth-desktop is-one-quarter-tablet is-half-mobile">
                <div class="view-home-committee-member">
                    <figure class="image is-96x96">
                        <img src="https://bulma.io/images/placeholders/96x96.png" class="is-rounded">
                    </figure>
                    <div class="view-home-committee-member-name">
                        <h3>Daniel Frýda</h3>
                        <p>Gagarinova 375, Pardubice</p>
                    </div>
                </div>
            </div>
            <div class="column is-one-fifth-desktop is-one-quarter-tablet is-half-mobile">
                <div class="view-home-committee-member">
                    <figure class="image is-96x96">
                        <img src="https://bulma.io/images/placeholders/96x96.png" class="is-rounded">
                    </figure>
                    <div class="view-home-committee-member-name">
                        <h3>Ing. Michal Sláma, MBA</h3>
                        <p>Erno Košťála 1003, Pardubice</p>
                    </div>
                </div>
            </div>
            <div class="column is-one-fifth-desktop is-one-quarter-tablet is-half-mobile">
                <div class="view-home-committee-member">
                    <figure class="image is-96x96">
                        <img src="https://bulma.io/images/placeholders/96x96.png" class="is-rounded">
                    </figure>
                    <div class="view-home-committee-member-name">
                        <h3>Olga Pavlů</h3>
                        <p>Bubeníkova 526, Pardubice</p>
                    </div>
                </div>
            </div>
            <div class="column is-one-fifth-desktop is-one-quarter-tablet is-half-mobile">
                <div class="view-home-committee-member">
                    <figure class="image is-96x96">
                        <img src="https://bulma.io/images/placeholders/96x96.png" class="is-rounded">
                    </figure>
                    <div class="view-home-committee-member-name">
                        <h3>Ing. arch. Aleš Klose</h3>
                        <p>Labská 146, Pardubice</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
