{% extends "base.html" %}
{% load static %}

{% block main_class %}error-page{% endblock %}

{% block navbar %}{% endblock %}
{% block footer %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="section">
            <img src="{% static "img/brand/logo-colorful.v4.svg" %}" class="error-logo" alt="{{ siteinfo.title }}">

            <h1 class="page-headline">{% block page_title %}Na serveru došlo k chybě :({% endblock %}</h1>
            <p class="has-margin-t-5 is-size-5">Problém jsme nahlásili někomu, kdo to brzo opraví. Prozatím zkuste <a href="{% url "home" %}">hlavní stránku</a>.</p>
        </div>
    </div>
{% endblock %}
